name: sqlpackage test
on: [pull_request]

jobs:
  build:
    name: Module imports on all platforms
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Install and cache PowerShell modules
      uses: potatoqualitee/psmodulecache@v5.1
      with:
          modules-to-cache: dbatools-core-library:2022.11.4
          modules-to-cache-prerelease: dbatools-library:2022.11.4-preview

    - name: Execute sqlpackage
      shell: pwsh
      run: |
        Import-Module ./dbatools.psd1 -ErrorAction Stop
        (Get-DbaManagementObject).LoadTemplate -ne $null
        $libpath = Split-Path -Path (Get-Module dbatools*library).Path

        if ($IsWindows) {
          $sqlpackage = Join-DbaPath -Path $libpath -ChildPath lib, win, sqlpackage.exe
        }
        if ($IsMacOS) {
          $sqlpackage = Join-DbaPath -Path $libpath -ChildPath lib, mac, sqlpackage
        }
        if ($IsLinux) {
          $sqlpackage = Join-DbaPath -Path $libpath -ChildPath lib, sqlpackage
        }

        . $sqlpackage | Select-String "Specifies a name value pair" | Should -Not -BeNullorEmpty

